{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 41.5620813540027,
    "longitude": -8.386088171973826,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Lisbon",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "PT",
    "language": "en"
  }
}